$this: 'c-header' !global;

.#{$this} {
  padding: 20px;
  background-color: $BLACK;

  &__link {
    text-decoration: none;
  }

  &__title {
    margin: 0;
    font: {
      size: 32px;
      family: $FONT_REGULAR;
    }
    color: $WHITE;
    text-align: center;
    text-decoration: none;
  }
}
