$this: 'o-page' !global;

.#{$this} {
  width: 100%;
  max-width: 1200px;
  padding: 30px;
  margin: 0 auto;
  text-align: center;

  &__title {
    font: {
      size: 32px;
      family: $FONT_REGULAR;
    }
    color: $BLACK;
  }
}
